
{% load bootstrap4 %} {% bootstrap_css %} {% bootstrap_javascript jquery='full' %} 

<link rel="stylesheet" type="text/css" href="{% static 'polls/animate.min.css' %}" />
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 align-self-center py-5">
      <div class="card mb-3 animated fadeIn">
        <h3 class="card-header text-center">The G.O.A.T. Polls</h3>
        <div class="row no-gutters card-columns">
          <div class="col">
            <div class="card-body text-center">
              {% if latest_question_list %}
              <div class="list-group ">
                {% for question in latest_question_list %}
                <a class="list-group-item-action" href="{% url 'polls:detail' question.id %}">
                  <div class="card p-3 animated fadeIn">
                   
                    <blockquote class="blockquote mb-0 card-body">
                      <p>{{question.question_text}}.</p>
                      <footer class="blockquote-footer">
                        <small class="text-muted">
                          {{question.pub_date}}
                        </small>
                      </footer>
                    </blockquote>
                  </div>
                </a>

                {% endfor %}
              </div>
              {% else %}
              <p class="card-title">No polls are available.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
