{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    {% include 'partials/styles.html' %}
    <title>Django Polls</title>
  </head>
  <body>
  {% include 'nav/nav.html' %}
  

    <div class="container">
    {% comment %} {% include 'nav/nav.html' %} {% endcomment %}
  {% comment %} {% block nav %} {% endblock %} {% endcomment %}
      <div class="row justify-content-center">
        <div class="col-8 align-self-center py-5 animated fadeIn">
          <div class="jumbotron">
            <h1>Django Polls</h1>
          </div>
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% include 'partials/scripts.html' %}
  </body>
</html>
